
.left-side {
    display: flex;
    align-items: center;
}
.logo-name {
    width: 137.5px;
    height: 20px;
}
.navigation-bar {
    display: flex;
    margin-left: 50px;
    gap: 20px;
}
.navigation-bar button {
    margin: 0 10px;
    color: #69707D;
    font-size: 1rem;
    padding-bottom: 80px;
}
.navigation-bar button:hover {
    color: black;
    cursor: pointer;
    border-bottom: 3px solid var(--main-color);
}
button {
    border: none;
    border-bottom: 3px solid;
    border-color: transparent;
    background: none;
    outline: none;
}
button span {
    position: relative;
    top: 2.7rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.line {
    border: 1px solid var(--line-color);
    position: relative;
    max-width: 70%;
    min-width: 35rem;
    left: 50%;
    transform: translate(-50%);
}
.cart-button {
    cursor: pointer;
}
.cart-button:hover path {
    fill: black;    
}
.user-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.user-icon:hover {
    border: 2px solid var(--main-color);
    border-radius: 100%;
}
.right-side {
    display: flex;
    gap: 40px;
}
.cart-container {
    display: flex;
}
.cart {
    width: 360px;
    height: 256px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
    top: 130px;
    right: 10%;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: white;

}
.open-cart {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.cart-line {
    border: 1px solid var(--line-color);
}
.cart-title {
    font-size: 1rem;
    padding: 25px;
}
.cart-status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: var(--cart-text-color);
    font-size: 1rem;
}