@media screen and (max-width: 1200px) {
    .line {
        min-width: 80%;
    }
}



@media screen and (max-width: 1000px) {
    .line {
        min-width: 85%;
    }
}





@media screen and (max-width: 874px) {
    .original-side {
        transform: translate(30px);
    }
    .original-image {
        width: 350px;
    }
    .thumbnails-side {
        gap: 15px;
        transform: translate(-0px);
        width: 320px;
    }
    .thumbnails-image {
        width: 75px;
        height: 75px;
    }
    .product-name {
        font-size: 2.2rem;
    }
    .company-name {
        font-size: 0.8rem;
    }
    .product-description {
        font-size: 0.8rem;
    }
    .line {
        min-width: 90%;
    }
}






@media screen and (max-width: 811px) {
    .navigation-bar {
        position: fixed;
        flex-direction: column;
        border: none;
        background-color: white;
        width: 0;
        height: 1000px;
        transform: translate(-50px);
        gap: 0;
        z-index: 10;
        inset: 0;
        transition: all 0.5s;
    }
    .navigation-bar button {
        color: black;
        font-weight: 700;
        font-size: 1.125rem;
        padding-bottom: 5px;
        border: none;
        width: 0;
        transform: translate(-120px);
        transition: all 0.5s ease;
        margin: 20px 0 0 20px;
    }
    .menu-background {
        position: fixed;
        transform: translate(-32px, -2px);
        border: none;
        background: rgba(0, 0, 0, 0.75);
        width: 102%; 
        height: 115rem;
        z-index: 2;
        transition: all 0.4s;
    }
    .open-menu {
        width: 300px;
        transition: all 0.5s;
    }
    .open-menu button {
        transform: translate(0);
        transition: all 0.5s ease;
    }
    .close {
        position: fixed;
        transform: translate(-9px, -10px);
    }
    .navigation-bar button:hover {
        color: black;
        cursor: pointer;
        border-bottom: none;
    }
    .burger-menu-button {
        position: relative;
        cursor: pointer;
        width: 16px;
        opacity: 1;
        z-index: 100;
        left: -8%;
        top: 3px;
    }
    .user-icon {
        width: 40px;
        height: 40px;
    }
    .header-container {
        position: relative;
        top: 10px;
    }
    .line {
        position: absolute;
        border: none;
    }
    .center-box {
        padding: 0 30px;
        justify-content: space-between;
    }
    .cart-button:hover path {
        fill: #69707D;
        transition: inherit;
    }
    .user-icon:hover {
        border: 2px solid transparent;
        transition: inherit;
    }
    .checkout:hover {
        opacity: inherit;
        transition: inherit;
    }
    .cart {
        top: 50px;
        left: 40%;
        z-index: 1;
    }
}

@media screen and (max-width: 621px) {
    .cart {
        left: 50%;
        transform: translate(-50%);
    }
}


@media screen and (max-width: 370px) {
    .cart {
        width: 350px;
        left: 50%;
        transform: translate(-50%);
    }
}